<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    @*<a class="navbar-brand" href="#">@NavbarHeaderName</a>*@
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="navbar-brand dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="color:white">@NavbarHeaderName</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#" @onclick="@(()=> NavbarHeaderName = "Inicio")">Inicio</a>
                    @foreach (var pair in Links)
                    {
                        <a class="dropdown-item" href="@pair.Item2" @onclick="@(()=> NavbarHeaderName = pair.Item1)">@pair.Item1</a>
                    }
                </div>
            </li>
            <li>
                <a class="nav-link" href="NAICM">NAICM</a>
            </li>
        </ul>
    </div>
</nav>


@code {
[Parameter]
public string NavbarHeaderName { get; set; } = "Inicio";

[Parameter]
public List<(string, string)> Links { get; set; }

}