@page "/forgedesktop/{ProjectId:int}"


@using ITZWebClientApp.Components
@using ForgeLibs;
@using ForgeLibs.Models.Forge;
@using ForgeLibs.Data;
@using ITZWebClientApp.Infraestructure.Data;
@using ITZWebClientApp.Infraestructure;
@using ITZWebClientApp.Components.UI;
@using ITZWebClientApp.Components.Charts;
@using ITZWebClientApp.Components.Forge;
@using ForgeLibs.Models.Forge.Queries;
@using ForgeLibs.Models.Charts; 
@using Newtonsoft.Json; 
@using System.Text.Json;
@using System.Drawing; 

@inject HttpClient client
@inject IJSRuntime JSRuntime
@inject OmniClassRepository omni
@inject IItzRepository repo;


<style>
    .forge_div {
        /*border:dotted;*/
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 5px;
    }

    .forge_ribbon {
        /*        border-color: red;*/
        /*        border: groove;*/
        flex-basis: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .forge_content {
        /*        background-color:orangered;*/
        display: flex;
        overflow: auto;
        flex-basis: 100%;
        flex-direction: row;
        border-color: olive;
    }

    .forge_main {
        /*        border: dotted;
        border-color: blue;*/
        /*        flex-basis: calc(100% - 350px);*/
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .forge_viewer {
        flex-basis: 100%;
    }

    .forge_botton {
        overflow: auto;
        /*        border: dotted;
        border-color: red;*/
        /*        height: 40%;*/
    }

    .forge_sidebar {
        /*        background-color: greenyellow;*/
        /*        flex-basis: 350px;*/
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .forge_chart {
        /*        flex-basis: 25%;*/
    }

    .forge_table {
        /*        flex-basis: 75%;*/
        /*        border: dotted;*/
        display: flex;
        overflow: auto;
    }
</style>

<style>
    .forge_query_form {
        flex-basis: 90%;
    }

    .forge_layout_switcher {
        display: flex;
        justify-content: right;
        /*        border:dotted;*/
        flex-basis: 10%;
    }
</style>

<style>
    .gutter {
        background-color: #eee;
        background-repeat: no-repeat;
        background-position: 50%;
    }

        .gutter.gutter-horizontal {
            cursor: col-resize;
        }

        .gutter.gutter-vertical {
            cursor: row-resize;
        }
</style

<style>
    .forgeFirstQueryLabel {
        background-color: var(--webFavoriteColor);
        color: white;
    }

</style>
<LoadingScreen IsLoaded="_contentLoaded" @ref="loadingScreen" CssClass="@_loadingScreenClass"></LoadingScreen>

<div class="forge_div">
    <CascadingValue Value="this">
        <div class="forge_ribbon form-inline">
            <div class="forge_query_form input-group">
                <ForgeProjectController @ref="_forgeModelSelector"
                                        Project="@_project"
                                        AccessToken="@_modelAccessToken"
                                        OnModelChanged="@( async x=>
                                                           {
                                                               //await LoadModelData(x);
                                                               firstModelLoad = true;
                                                           })"
                                        OnViewSelected="@( async x=> {
                                                               ForgeModel model = _forgeModelSelector.SelectedModel;
                                                               bool viewDataLoaded = await LoadViewData(model, x);
                                                               if(firstModelLoad)
                                                               {
                                                                   firstModelLoad = false;
                                                                   _modelUrn64 = ForgeUtils.Base64Encode(model.ObjectId);
                                                                   _viewGuid = x.Guid;
                                                               }
                                                               else
                                                               {
                                                                   _forgeViewer.ChangeModel(x.Guid);
                                                               }

                                                               if(viewDataLoaded)
                                                               {
                                                                    _queryTypes.Add(QueryType.ByCategory);
                                                               }
                                                               else
                                                               {
                                                                   _queryTypes.Remove(QueryType.ByCategory);
                                                                   await _barChart.UpdateChart(BarChartData.EmptyBarChart());
                                                                   _forgequeyController.Query = QueryType.None;
                                                               }
                                                           }
                                        )"></ForgeProjectController>
                @if (_queryTypes.Count > 0)
                {
                    <ForgeQueryController @ref="_forgequeyController"
                                          ForgeElements="ForgeElemsView"
                                          SelectedIds="@_selectedIDs"
                                          QueryTypes="@_queryTypes.ToArray()"
                                          OnChartDataChanged="@(async x => {
                                                                await _barChart.UpdateChart(x);
                                                                try
                                                                {
                                                                    dynamic json = (dynamic)x.JSON;
                                                                    _forgeViewer.ResetOverrideColors();
                                                                    IEnumerable<dynamic> datasets = json.data.datasets;
                                                                    dynamic dataset = datasets.FirstOrDefault();
                                                                    if(dataset != null)
                                                                    {
                                                                        IEnumerable<dynamic> data = dataset.data;
                                                                        int counter = data.Count();
                                                                        List<int> totalIds = new List<int>();
                                                                        //Console.WriteLine($"dataset ids : {dataset.ids}");
                                                                        for (int i = 0; i < counter; i++)
                                                                        {
                                                                            string background = dataset.backgroundColor[i];
                                                                            IEnumerable<dynamic> ids = dataset.ids[i];
                                                                            int[] ids1 = ids.Select(x => (int)x).ToArray();
                                                                            totalIds.AddRange(ids1);
                                                                            _forgeViewer.ChangeColorElements(ids1, background);
                                                                            //Console.WriteLine($"element : {string.Join(",", ids1 )} ,  background : {background} ");
                                                                        }
                                                                        if(totalIds.Count > 0)
                                                                        {
                                                                            SavedIds = totalIds.ToArray();
                                                                            _forgeViewer.IsolateElements(string.Join(",", totalIds));
                                                                        }
                                                                        //Console.WriteLine($"FINISH ISOLATION AND CHANGE COLOR");

                                                                    }
                                                                }
                                                                catch (Exception ex)
                                                                {
                                                                    Console.WriteLine(ex);
                                                                }

                                                            } )"
                                          OnCategoryChanged="@(async x => {
                                                                   Category = x;
                                                                   if(string.IsNullOrEmpty(Category))
                                                                   {
                                                                       _forgeViewer.ResetOverrideColors();
                                                                       _forgeViewer.ShowAll();
                                                                       _forgeViewer.FitToView();
                                                                   }
                                                                   else
                                                                   {
                                                                       var ids = ForgeElemsView.Where(y => y.Category == x).Select(y=> y.ObjectId);
                                                                       _forgeViewer.IsolateElements(string.Join(",", ids));
                                                                   }
                                                               })"
                                          OnSelectIds="@(x => _forgeViewer.IsolateElements(x))"
                                          OnScheduleChanged="@(async x=> {
                                                                   Console.WriteLine("SCHEDULE CHANGED");
                                                                   if (!string.IsNullOrEmpty(x.JSON))
                                                                   {
                                                                       _jsgantt.LoadJsGanttData(x.Now, x.JSON);
                                                                       ChangeSplitterSizes("bottonbar", new int[] { 70, 30 });
                                                                   }
                                                                   else
                                                                   {
                                                                       _jsgantt.UnLoadJsGanttData();
                                                                       ChangeSplitterSizes("bottonbar", new int[] { 100, 00 });
                                                                   }
                                                                   _scheduleSelected = x;


                                                                   IEnumerable<int> revitIds = _scheduleSelected.GetAllRevitIds();
                                                                   Console.WriteLine($"all revit ids {revitIds.Count()}");
                                                                   ObjectsNotMap = GetNoneLinkObjectsIds(revitIds).ToArray();
                                                                   Console.WriteLine($"objects not map {ObjectsNotMap.Count()}");

                                                                   StateHasChanged();
                                                               } )"
                                          ForgeSchedules="@_forgeSchedules"
                                          OnDateChanged="@(x =>
                                                           {
                                                               Console.WriteLine("ON DATE CHANGED");

                                                               //Console.WriteLine("Hide NOT MAP OBJETS");

                                                               Stopwatch stopwatch = new Stopwatch();
                                                               stopwatch.Start();
                                                               _forgeViewer.Hide(ObjectsNotMap.ToArray());
                                                               Console.WriteLine($"HIDE NOT MAP {stopwatch.Elapsed.TotalSeconds} sec");
                                                               _forgeViewer.ResetOverrideColors();
                                                               Console.WriteLine($"RESET OVERRIDE {stopwatch.Elapsed.TotalSeconds} sec");

                                                               
                                                               var present = _scheduleSelected.GetPresentTasks(x);
                                                               //Console.WriteLine($"Now {x}");
                                                               //Console.WriteLine("---------------");
                                                               //foreach (var item in present)
                                                               //{
                                                               //    Console.WriteLine($"{item.pName} -> {item.pStart} : {item.pEnd}");
                                                               //}
                                                               //Console.WriteLine($"present : {present.Count()}");
                                                               var presentIds = _scheduleSelected.GetTaskObjectsIds(present);
                                                               //Console.WriteLine($"presentIds : {presentIds.Count()}");
                                                               var revitIds = _scheduleSelected.GetRevitIds(presentIds.ToArray());
                                                               //Console.WriteLine($"revitIds : {revitIds.Count()}");
                                                               var objPresetnIds = GetObjectIds(revitIds).ToList();
                                                               //Console.WriteLine($"objectIds : {objectIds.Count()}");
                                                               string color = ChartUtils.ColorRgbaName(Color.Green);
                                                               //_forgeViewer.ChangeColorElements(objectIds.ToArray(), color);
                                                              
                                                               Console.WriteLine($"GET PRESENT IDS {stopwatch.Elapsed.TotalSeconds} sec");


                                                               var past = _scheduleSelected.GetPastTasks(x);
                                                               //Console.WriteLine("---------------");
                                                               //foreach (var item in past)
                                                               //{
                                                               //    Console.WriteLine($"{item.pName} -> {item.pStart} : {item.pEnd}");
                                                               //}
                                                               //Console.WriteLine($"past : {present.Count()}");
                                                               var pastIds = _scheduleSelected.GetTaskObjectsIds(past);
                                                               //Console.WriteLine($"pastIds : {pastIds.Count()}");
                                                               revitIds = _scheduleSelected.GetRevitIds(pastIds.ToArray());
                                                               //Console.WriteLine($"revitIds : {revitIds.Count()}");
                                                               var objPastIds = GetObjectIds(revitIds);
                                                               //Console.WriteLine($"objectIds : {objectIds.Count()}");

                                                               //color = ChartUtils.ColorRgbaName(Color.Red);
                                                               // _forgeViewer.ChangeColorElements(objectIds.ToArray(), color);
                                                               
                                                               Console.WriteLine($"GET PAST IDS {stopwatch.Elapsed.TotalSeconds} sec");

                                                               var future = _scheduleSelected.GetFutureTasks(x);
                                                               //Console.WriteLine("---------------");
                                                               //foreach (var item in future)
                                                               //{
                                                               //    Console.WriteLine($"{item.pName} -> {item.pStart} : {item.pEnd}");
                                                               //}
                                                               //Console.WriteLine($"future : {future.Count()}");
                                                               var futureIds = _scheduleSelected.GetTaskObjectsIds(future);
                                                               //Console.WriteLine($"futureIds : {futureIds.Count()}");
                                                               revitIds = _scheduleSelected.GetRevitIds(futureIds.ToArray());
                                                               //Console.WriteLine($"revitIds : {revitIds.Count()}");
                                                               var objeFutureIds = GetObjectIds(revitIds);
                                                               //Console.WriteLine($"objectIds : {objectIds.Count()}");

                                                               Console.WriteLine($"GET FUTURE IDS {stopwatch.Elapsed.TotalSeconds} sec");

                                                               
                                                               objPresetnIds.AddRange(objPastIds);

                                                               Console.WriteLine($"APPEND IDS {stopwatch.Elapsed.TotalSeconds} sec");

                                                               _forgeViewer.Show(objPresetnIds.ToArray());

                                                               Console.WriteLine($"SHOW {stopwatch.Elapsed.TotalSeconds} sec");

                                                               _forgeViewer.Hide(objeFutureIds.ToArray());

                                                               Console.WriteLine($"HIDE {stopwatch.Elapsed.TotalSeconds} sec");
                                                               Console.WriteLine($"FINISH!");

                                                               //string str = string.Join(',', objectIds);
                                                               //_forgeViewer.IsolateElements(str);


                                                               //_forgeViewer.Hide(objectIds.ToArray());
                                                           }
                                          )"
                                          OnQueryTypeChanged="@(x=> {
                                                                switch(x)
                                                                  {
                                                                      case QueryType.None:
                                                                          {
                                                                              ChangeSplitterSizes("main", new int[] { 100, 0 });
                                                                              ChangeSplitterSizes("bottonbar", new int[] { 100, 0 });
                                                                              break;
                                                                          }
                                                                      case QueryType.ByCategory:
                                                                          {
                                                                              ChangeSplitterSizes("main", new int[] { 70, 30 });
                                                                              ChangeSplitterSizes("bottonbar", new int[] { 100, 0 });
                                                                              break;
                                                                          }
                                                                      case QueryType.ByAdvance:
                                                                          {
                                                                              ChangeSplitterSizes("main", new int[] { 100, 0 });
                                                                              ChangeSplitterSizes("bottonbar", new int[] { 100, 0 });
                                                                              break;
                                                                          }
                                                                  };
                                                            } )" />
                }

            </div>
            <div class="forge_layout_switcher">
                <button class="oi oi-arrow-bottom" @onclick="@(x => { SetSplitterToMin("main", false); UpdateResize(x); })"></button>
                <button class="oi oi-arrow-right" @onclick="@(x => { SetSplitterToMin("bottonbar", false); UpdateResize(x); })"></button>
            </div>
        </div>

        <div class="forge_content">
            <div class="forge_main">
                <div class="forge_viewer">
                    <ForgeViewer @ref="_forgeViewer"
                                 ViewerId="view1"
                                 AccessToken="@_modelAccessToken"
                                 ProjectUrn64="@_modelUrn64"
                                 ViewGuid="@_viewGuid"
                                 OnDocumentLoadSuccess="x=> _shoulRender = false"
                                 OnChangeSelection="@(x=> {
                                                          _selectedIDs = string.Join(",", x);
                                                          _selectedElement = ForgeElemsView.FirstOrDefault(y => y.ObjectId == x[0]);
                                                          if(_selectedElement != null)
                                                          {
                                                              _selectedElement.GetChildren(ForgeElemsView);
                                                              _selectedElement.GetParent(ForgeElemsView);
                                                          }
                                                      })" />
                </div>
                <div class="forge_botton">
                    @*<GanttChart></GanttChart>*@
                    <JsGantt @ref="_jsgantt" Id="GanttChartDIV" OnRowSelected="@(x=> {

                                                                                     if(_scheduleSelected.ForgeTaskMapping.TryGetValue(x, out int[] forgeElIds) && forgeElIds.Length > 0)
                                                                                     {
                                                                                         var ids = GetObjectIds(forgeElIds);
                                                                                         string str = string.Join(',', ids);
                                                                                         //Console.WriteLine(str);
                                                                                         _forgeViewer.IsolateElements(str);
                                                                                     }

                                                                                 })"></JsGantt>
                </div>
            </div>

            <div class="forge_sidebar">
                <div class="forge_chart">
                    <BarChart @ref="_barChart"
                              ChartName="Grafica"
                              Id="chart"
                              KeepAspectRatio="false"
                              OnBarClicked="@(x=> {
                                                  _forgeViewer.IsolateElements(x.ids);
                                              })" 
                              OnClickOnEmptySpace="@(x=> { 
                                                        if(SavedIds.Length > 0)
                                                        {
                                                            _forgeViewer.IsolateElements(string.Join(",", SavedIds));
                                                        }                                 
                                                     })"
                              />
                            
                </div>
                <div class="forge_table">
                    <TabSet>
                        <Tab Title="Resumen">
                            <ForgeCategoryTable @ref="_tblCat"
                                                ForgeElements="@ForgeElemsView"
                                                Category="@Category"
                                                OnItemSelected="@(x=> _forgeViewer?.IsolateElements(new int[] { x }))" />
                        </Tab>
                        <Tab Title="Elemento">
                            @if (_selectedElement != null)
                            {
                                <ForgeItemTable Element="@_selectedElement"
                                                OnParentSelection="@(x=> GetForgeElement(x))"
                                                OnItemSelection="@(x=> _forgeViewer.IsolateElements(x.ToString()))" />
                            }
                        </Tab>
                    </TabSet>
                </div>
            </div>
        </div>
    </CascadingValue>
</div>

@code {


    private int[] SavedIds = Array.Empty<int>();
    private ForgeSchedule[] _forgeSchedules { get; set; }

    private string _loadingScreenClass = "appear";
    public string LoadingScreenClass
    {
        get { return _loadingScreenClass; }
        set
        {
            _loadingScreenClass = value;
            StateHasChanged();
        }
    }
    LoadingScreen loadingScreen;
    private bool _contentLoaded = false;

    //private string _projectName { get; set; }
    private ForgeLibs.Models.Project _project { get; set; }
    private List<QueryType> _queryTypes = new List<QueryType>();

    private string _selectedIDs { get; set; }
    private string _modelUrn64 { get; set; }
    private string _viewGuid { get; set; }
    private string _modelAccessToken { get; set; }
    private bool _shoulRender = true;
    private ForgeViewer _forgeViewer;
    private ForgeQueryController _forgequeyController = new ForgeQueryController();
    private ForgeProjectController _forgeModelSelector;
    private JsGantt _jsgantt;
    private ForgeCategoryTable _tblCat;
    private BarChart _barChart;
    private ForgeElement _selectedElement;
    private ForgeSchedule _scheduleSelected;
    private Dictionary<string, int> _objMapping;
    public string Category { get; set; }

    [CascadingParameter]
    MainLayout layout { get; set; }
    [Parameter]
    public int ProjectId { get; set; }
    public IEnumerable<ForgeElement> ForgeElemsFull = Enumerable.Empty<ForgeElement>();
    public IEnumerable<ForgeElement> ForgeElemsView = Enumerable.Empty<ForgeElement>();

    private bool firstModelLoad = true;
    int counter = 0;
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("ini Forge desktop");
        layout.Toggle();

        if (counter == 0)
        {
            _project = repo.Projects.FirstOrDefault(x => x.Id == ProjectId);
            Console.WriteLine("project name " + _project.Name);
            bool auth = await LoadForgeModelAuthInfo();
            LoadSchedules();
            if (_forgeSchedules.Length > 0)
            {
                _queryTypes.Add(QueryType.ByAdvance);
            }

            //ForgeModel model = repo.GetForgeModelAsync(ProjectId);
            //if (model != null)
            //{
            //    _modelUrn64 = ForgeUtils.Base64Encode(objectId);

            //    await Task.Delay(1000);
            //    await LoadModelData(model);

            //}

            await Task.Delay(1000);
            _contentLoaded = true;

            await LoadSplitter("main", "forge_main", "forge_sidebar", false, 5, new int[] { 100, 00 });
            await LoadSplitter("sidebar", "forge_chart", "forge_table", true, 5, new int[] { 30, 70 });
            await LoadSplitter("bottonbar", "forge_viewer", "forge_botton", true, 5, new int[] { 100, 0 });
            counter++;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        //return base.OnAfterRenderAsync(firstRender);
    }

    public async Task<bool> LoadForgeModelAuthInfo()
    {
        //ForgeAuth auth = await http.GetJsonAsync<ForgeAuth>(@"https://localhost:44383/api/auth");
        //string uri = "https://www.dropbox.com/s/f63bysbygw3rrlw/access.json?dl=1";
        //HttpRequestMessage requestMessage = new HttpRequestMessage(HttpMethod.Post, uri);

        //var json = await http.GetStringAsync(uri);
        //dynamic credentials = JsonConvert.DeserializeObject(json);
        //Console.WriteLine(credentials);
        // Now parse with JSON.Net

        //HttpResponseMessage response = await http.GetAsync(uri);
        //dynamic credentials = JsonConvert.DeserializeObject(response.Content.ReadAsStringAsync().Result);
        //Console.WriteLine(credentials);

        //ForgeAuth auth = await ForgeUtils.GetForgeAuth("a4Pg8Uq0WXDMO5ANelaKXywSAJAOvUsK", "Y510f0377670e4df", "data:read");
        ForgeAuth auth = await ForgeUtils.GetForgeAuth("fjGGjnwIJTeZQ8S9cn2ULJ67Blx3i1pY", "CFFfztdAcz48QHAr", "data:read");
        if (auth != null)
        {
            Console.WriteLine("get auth from itz server ... OK");
            _modelAccessToken = auth.Access_Token;
            return true;
        }
        else
        {
            Console.WriteLine("get auth from itz server ... Cant reach the server");
        }
        return false;
    }

    public async Task LoadModelData_OLD(ForgeModel model, ForgeView view)
    {
        string bucket = model.BucketKey;
        string viewName = view.Name.Replace(" ", "").ToLower();
        Console.WriteLine("loading model data ....");
        string fileName = System.IO.Path.GetFileNameWithoutExtension(model.ObjectKey);
        string address = $"models_metadata/{bucket}/{fileName}_{viewName}_felements.txt";
        Console.WriteLine(address);
        string json = await client.GetStringAsync(address);
        if (!string.IsNullOrEmpty(json))
        {
            ForgeElemsFull = ForgeElement.ParseForgeElements(json, 1000);
            _modelUrn64 = ForgeUtils.Base64Encode(model.ObjectId);
            _viewGuid = view.Guid;

            ForgeModel repoModel = repo.GetForgeModelAsync(ProjectId);
            Console.WriteLine("No Schedules : " + repoModel.Schedules.Length);
            _forgeSchedules = repoModel.Schedules;
        }
    }

    public void LoadSchedules()
    {
        ForgeModel repoModel = repo.GetForgeModelAsync(ProjectId);
        Console.WriteLine("No Schedules : " + repoModel.Schedules.Length);
        _forgeSchedules = repoModel.Schedules;
    }

    public async Task<bool> LoadViewData(ForgeModel model, ForgeView view)
    {
        string bucket = model.BucketKey;
        string fileName = System.IO.Path.GetFileNameWithoutExtension(model.ObjectKey);
        string viewName = view.Name.Replace(" ", "").ToLower();
        string mapAddress = $"models_metadata/{bucket}/{fileName}_{viewName}_map.json";
        HttpResponseMessage response = await client.GetAsync(mapAddress);
        if (response.IsSuccessStatusCode)
        {
            string mapJson = await response.Content.ReadAsStringAsync();
            _objMapping = System.Text.Json.JsonSerializer.Deserialize<Dictionary<string, int>>(mapJson);
            Stopwatch stopwatch = new Stopwatch();

            stopwatch.Reset();
            stopwatch.Start();
            List<ForgeElement> fe = new List<ForgeElement>();
            foreach (ForgeElement item in ForgeElemsFull)
            {
                if (_objMapping.ContainsKey(item.RevitId.ToString()))
                {
                    int? objectId = _objMapping[item.RevitId.ToString()];
                    if (objectId != null)
                    {
                        item.ObjectId = objectId.Value;
                        fe.Add(item);
                    }
                }
            }

            //if(fe.Count() == 0)
            //{
            //    foreach (var pair in _objMapping)
            //    {
            //        ForgeElement forgeElement = new ForgeElement()
            //        {
            //            RevitId = Convert.ToInt32(pair.Key),
            //            ObjectId = pair.Value
            //        };
            //        fe.Add(forgeElement);
            //    }
            //}
            //ForgeElemsView = fe.ToArray();

            stopwatch.Stop();
            Console.WriteLine($"MAPPING OBJECTS {stopwatch.Elapsed.TotalSeconds} sec ... {ForgeElemsFull.Count()} count");
            Console.WriteLine("parsing forge elements ... end");

            return true;
        }
        else
        {
            ForgeElemsView = new ForgeElement[0];
        }

        return false;
    }

    public async Task<bool> LoadModelData(ForgeModel model)
    {
        string bucket = model.BucketKey;
        string fileName = System.IO.Path.GetFileNameWithoutExtension(model.ObjectKey);

        Console.WriteLine("loading model data ....");
        string dbAddress = $"models_metadata/{bucket}/{fileName}_db.json";
        HttpResponseMessage response = await client.GetAsync(dbAddress);
        if(response.IsSuccessStatusCode)
        {
            string dbJson = await response.Content.ReadAsStringAsync();
            Stopwatch stopwatch = new Stopwatch();
            //if (!string.IsNullOrEmpty(dbJson) && !string.IsNullOrEmpty(mapJson))
            {
                //ForgeElems = ParseForgeElements(dbJson, map);

                //{
                //    stopwatch.Reset();
                //    stopwatch.Start();
                //    string dbJson = await client.GetStringAsync(dbAddress);
                //    ForgeElems = System.Text.Json.JsonSerializer.Deserialize<ForgeElement[]>(dbJson);
                //    stopwatch.Stop();
                //    Console.WriteLine($"USING TEXT JSON SERIALIZER {stopwatch.Elapsed.TotalSeconds} sec ... {ForgeElems.Count()} count");
                //}



                //{
                //    stopwatch.Reset();
                //    stopwatch.Start();
                //    ForgeElems = await client.GetJsonAsync<ForgeElement[]>(dbAddress);
                //    stopwatch.Stop();
                //    Console.WriteLine($"USING TEXT JSON client.GetJsonAsync {stopwatch.Elapsed.TotalSeconds} sec ... {ForgeElems.Count()} count");
                //}


                {
                    stopwatch.Reset();
                    stopwatch.Start();

                    if (!string.IsNullOrEmpty(dbJson))
                    {
                        ForgeElemsFull = Utf8Json.JsonSerializer.Deserialize<ForgeElement[]>(dbJson);
                    }
                    else
                    {
                        ForgeElemsFull = new ForgeElement[0];
                        return false;
                    }
                    stopwatch.Stop();
                    Console.WriteLine($"USING Utf8Json.JsonSerializer {stopwatch.Elapsed.TotalSeconds} sec ... {ForgeElemsFull.Count()} count");

                }

                //    stopwatch.Reset();
                //    stopwatch.Start();
                //    string dbJson = await client.GetStringAsync(dbAddress);
                //    ForgeElems = Newtonsoft.Json.JsonConvert.DeserializeObject<ForgeElement[]>(dbJson);
                //    stopwatch.Stop();
                //    Console.WriteLine($"USING Newtonsoft.JsonConvert {stopwatch.Elapsed.TotalSeconds} sec ... {ForgeElems.Count()} count");
                //}

                return true;
            }
        }

        return false;
    }


    public static ForgeElement[] ParseForgeElements(string json, Dictionary<string, int> revitForgeMapping)
    {
        //ForgeElement[] fEls = JsonConvert.DeserializeObject<ForgeElement[]>(json);
        ForgeElement[] fEls = Newtonsoft.Json.JsonConvert.DeserializeObject<ForgeElement[]>(json);

        //string jsi = JsonConvert.SerializeObject(fEls);
        //Console.WriteLine(jsi);

        Console.WriteLine("mapping ids");
        foreach (ForgeElement item in fEls)
        {
            if(revitForgeMapping.ContainsKey(item.RevitId.ToString()))
            {
                int? objectId = revitForgeMapping[item.RevitId.ToString()];
                if (objectId != null)
                {
                    item.ObjectId = objectId.Value;
                }

            }

        }
        Console.WriteLine("mapping ids ... finish");
        return fEls;
    }

    /// <summary>
    /// Loads the parent and children of the object id and isolate in forge viewer
    /// </summary>
    /// <param name="objectId"></param>
    public void GetForgeElement(int objectId)
    {
        //Console.WriteLine($"ForgeDomain.GetForgeElement({objectId})");
        ForgeElement forgeElement = this.ForgeElemsView.FirstOrDefault(x => x.ObjectId == objectId);
        //Console.WriteLine($"{forgeElement?.RevitId}");
        if (forgeElement != null)
        {
            _selectedElement = forgeElement;
            _forgeViewer.IsolateElements(forgeElement.ObjectId.ToString());
            _selectedElement.GetChildren(ForgeElemsView);
            _selectedElement.GetParent(ForgeElemsView);
            StateHasChanged();
        }
    }

    [JSInvokable]
    public async void UpdateResize(dynamic sizes)
    {
        _forgeViewer.Resize();
        Console.WriteLine($"sizes: {sizes}");
    }

    public async ValueTask LoadSplitter(string splitterName, string firstDiv, string secondDiv, bool isVertical, int gutterWidth, int[] iniSizes)
    {
        firstDiv = $".{firstDiv}";
        secondDiv = $".{secondDiv}";
        string dir = isVertical ? "vertical" : "horizontal";
        await JSRuntime.InvokeVoidAsync("LoadSplitter", splitterName, firstDiv, secondDiv, dir, gutterWidth, iniSizes, DotNetObjectReference.Create(this));
    }


    public async void SetSplitterToMin(string splitterName, bool firstEl)
    {
        int index = firstEl ? 0 : 1;
        await JSRuntime.InvokeVoidAsync("SetSplitterToMin", splitterName, index);
    }

    public async void ChangeSplitterSizes(string splitterName, int[] sizes)
    {
        await JSRuntime.InvokeVoidAsync("ChangeSplitterSize", splitterName, sizes);
        _forgeViewer.Resize();
    }


    int[] ObjectsNotMap = new int[0];

    public IEnumerable<int> GetObjectIds(IEnumerable<int> revitIds)
    {
        foreach (int revitId in revitIds)
        {
            if (_objMapping.TryGetValue(revitId.ToString(), out int r))
            {
                yield return r;
            }
        }
    }

    public IEnumerable<int> GetNoneLinkObjectsIds(IEnumerable<int> revitIds)
    {
        Console.WriteLine($"GetNoneLinkObjectsIds()");
        var viewRevitIds = _objMapping.Select(x => Convert.ToInt32(x.Key));
        Console.WriteLine($"allObjectIds : {viewRevitIds.Count()}");
        var missing = viewRevitIds.Except(revitIds);
        Console.WriteLine($"Missing : {missing.Count()}");

        foreach (int m in missing)
        {
            yield return _objMapping[m.ToString()];
        }

    }
}