@page "/jobexperience"

<style>
    .card{
        position:inherit;
    }
</style>

<main class="container">
    <h1>Experiencia de Trabajo</h1>
    <br />
    <div>
        <h3>GIA (abril 2018 – noviembre 2018)</h3>
        <h5>Ultimo Cargo: <b>COORDINADOR BIM</b></h5>
        <p>
            <b>Experiencia.</b> Coordinación para el proyecto de ingenierías de taller LOD 450 de losas de concreto del edificio terminal del NAICM zonas C3, D0, E1, E2, E3, E4 A1 y cimbras utilizando Revit. Definí la metodología de modelado y documentación, de todas las áreas del edificio terminal apegándome a los estándares definidos por el cliente. Coordine diversas empresas BIM para el desarrollo de las ingenierías.
        </p>
        <p>Desarrolle diversas aplicaciones para automatizar le modelado de acero de refuerzo, documentación, etiquetado, inspección de modelos, etc.). <a href="projects/1801">mas información</a></p>
        
    </div>
    <br />



    <div>
        <h3>Grupo Triada (2016 – abril 2018)</h3>
        <h5>Cargo: <b>IMPLEMENTACIÓN BIM</b></h5>
        <p>
            <b>Experiencia:</b> Implementación en el área de Estructuras, donde he podido implementar con pocos recursos la metodología BIM, en las estructuras de puentes en los que el departamento me ha solicitado (aproximadamente 8 en 10 meses) para cuantificación y documentación.
        </p>
        <p>Utilizando Revit completamente, con familias avanzadas acompañados por programación, en donde considero pocas firmas a nivel internacional tienen dicha experiencia.</p>

        <div class="card border-secondary">
            <p class="card-header">
                <a class="" data-toggle="collapse" href="#p03" role="button" aria-expanded="false" aria-controls="p03">
                    Resumen de Proyectos
                </a>
            </p>
            <div class="collapse" id="p03">
                <div class="card card-body">
                    <div>
                        <h5><b>Implementador BIM en Estructuras de Puentes</b> <b class="@dateClass">2016- Abril 2018</b></h5>
                        <div class="tableCont">
                            <table class="table table-bordered">
                                <tr>
                                    <td>
                                        Texcoco 5 puentes estructuras base Pilas de concreto, trabes tipo AASHTO, Cajón y Tabletas)
                                        Guatemala 1 puente estructura doble voladizo a base de Dovelas
                                    </td>
                                    <td>
                                        <div>
                                            <ul>
                                                <li>Modelos LOD 450</li>
                                                <li>Documentación</li>
                                                <li>Apps para Revit colocación geométrica y de acero de refuerzo</li>
                                                <li>Reportes de cuantificaciones utilizando Autodesk Forge con servidor ASPNET Core</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div>
        <h3>ICA-BIM (2010 - 2016)</h3>
        <h5> Ultimo Cargo: <b>COORDINADOR BIM</b></h5>

        <p><b>Experiencia:</b> Realización de modelos BIM para varias obras que ejecuta ICA, empezando como <b>modelador BIM</b> colabore con el desarrollo de varios proyectos abarcando áreas de arquitectura, estructura e instalaciones, desarrollados con objetivos de promoción, licitación, control, avance, generadores, interferencias y manufactura.</p>

        <p>Durante casi dos años trabaje como <b>Líder de Proyecto BIM</b> donde he podido utilizar mi experiencia como arquitecto en el uso de las nuevas tecnologías CAD y BIM cubriendo no solo el modelado como objeto de diseño o presentación sino también como objeto de estudio y planeación para construcción.</p>

        <p>Capacite a nuevos elementos dentro del departamento en el uso de Revit, Inventor, 3ds Max, etc. Tengo amplia experiencia en la mayoría de las metodologías adecuadas para la realización de modelos BIM, desde el conceptual, anteproyecto, proyecto ejecutivo, promoción, simulación, detección de interferencias, control de avance, generadores y planos de taller.</p>

        <p>Forme parte de ADN (Autodesk Development Network) del 2013 a 2015 teniendo la oportunidad de colaborar con el equipo de desarrolladores de Autodesk en la plataforma Revit. He sido invitado por Autodesk para dar clases en <b>Autodesk University (AU) en la Ciudad de México y en Las Vegas, EU (2013 y 2014)</b> sobre Inventor, Revit y Grasshopper en la industria del Prefabricado.</p>

        <p>Participe en el <b>área de Investigación y Desarrollo</b> durante 3 años donde mis funciones fueron la mejora de procesos, generación de estándares, buscar nuevas áreas de oportunidad, control de calidad y creación de aplicaciones para Revit, Navisworks y 3ds Max. Participe en versiones beta de Revit y colabore con los programadores para las actualizaciones de producto de forma remota y presencial en el programa Gunsligher en las oficinas de Autodesk en Boston (2014)</p>

        <p>De febrero de 2015 a enero 2016 <b>coordiné el área BIM (Civil y Visualización)</b> fui el encargado de supervisar, control de calidad, realización de presupuestos y reportes administrativos a la dirección del Centro de Control y Riesgos y a la dirección de ICA Ingeniería. Teniendo como mi principal objetivo hacer rentable el área en niveles de producción y costo. Se me solicito hacer medición y monitoreo del rendimiento del personal contra los avances de los modelos. El principal logro que tuve fue la rentabilidad financiera de la unidad y el cumplimiento a todos los proyectos y concursos solicitados por la Empresa dentro de la ciudad y en el interior de la Republica.</p>

        <div class="card border-secondary">
            <p class="card-header">
                <a class="" data-toggle="collapse" href="#p02" role="button" aria-expanded="false" aria-controls="p02">
                    Resumen de Proyectos
                </a>
            </p>

            <div class="collapse" id="p02">
                <div class="card card-body">
                    <div>
                        <h5><b>Coordinador BIM</b> <b class="@dateClass">2015-2016</b></h5>
                        <div class="tableCont">
                            <table class="table table-bordered">
                                <tr><td>INCAN (Instituto nacional de cancerología)</td>	<td>Cierre de proyecto</td></tr>
                                <tr><td>PTAR Atotonilco</td> 	<td>Cierre de proyecto</td></tr>
                                <tr><td>Aeropuerto Acapulco</td>	<td>Modelo base estructural</td></tr>
                                <tr><td>Tribunal de Tlaxcala</td>	<td>Modelo base Estructural</td></tr>
                                <tr><td>Habilitado acero ICA Fluor</td>	<td>Modelo LOD 450 para diversas obras de ICA FLUOR</td></tr>
                                <tr><td>TECII</td>	<td>Modelo LOD 500 AsBuilt instalaciones, arquitectura y estructura</td></tr>
                                <tr><td>Marina Nacional</td>	<td>Modelo LOD 500 AsBuilt instalaciones, arquitectura y estructura</td></tr>
                                <tr><td>CTAP (Centro de Investigación de Aguas Profundas)</td> 	<td>Modelo base instalaciones, arquitectura y estructura</td></tr>
                                <tr><td>Hospital ISSSTE Tuxtla Gutiérrez</td>	<td>Modelo LOD 500 AsBuilt de instalaciones</td></tr>
                                <tr><td>Conjunto Habitacional Reserva Escondida</td>	<td>Modelo LOD 500 AsBuilt de arquitectura y estructura</td></tr>
                                <tr><td>Hospital IMSS León</td><td>	Modelo LOD 500 AsBuilt instalaciones, arquitectura y estructura</td></tr>
                                <tr><td>Torre Mitika</td>	<td>Modelo base estructural</td></tr>
                                <tr><td>Estacionamiento Nemesio Diez</td>	<td>Modelo base instalaciones, arquitectura y estructura</td></tr>
                                <tr><td>Estadio Nemesio Diez</td>	<td>Modelo base estructural</td></tr>
                            </table>
                        </div>
                    </div>
                    <br />

                    <div>
                        <h5><b>Investigación-Desarrollo BIM</b> <b class="@dateClass">2013-2014</b></h5>

                        <p>Tengo 5 años de experiencia programando para Revit he utilizado una gran variedad de Apis en más de 100 apps exclusivamente para Revit. He desarrollado también para otras plataformas de Autodesk como Navisworks, AutoCAD y 3ds Max en este último tengo más de un año de experiencia utilizando MaxScript. Tuve la oportunidad en mi último año como Coordinador del área de desarrollar e implementar una aplicación de Gestión y Control de proyectos de ICA BIM utilizando SQL Server y Office</p>
                    </div>
                    <br />

                    <div>
                        <h5><b>Líder de proyecto BIM</b> <b class="@dateClass">2011-2013</b></h5>
                        <div class="tableCont">
                            <table class="table table-bordered table-sm">
                                <tr><td>Puente Magnocentro en Huixquilucan</td>	<td>Modelo base estructural</td></tr>
                                <tr><td>Lumbrera 10 para el Túnel Emisor Oriente</td>	<td>Modelo base estructural</td></tr>
                                <tr><td>Autopista Elevada Sur (Arco Sur)</td>	<td>Modelo base estructural</td></tr>
                                <tr><td>Autopista Rio de los Remedios</td>	<td>Modelo base estructural utilizando Inventor</td></tr>
                                <tr><td>Torre Reforma 483</td>	<td>Modelo base estructural para licitación</td></tr>
                                <tr><td>Presa Hidroeléctrica Ituango.</td> <td>Colombia	Modelo conceptual, interferencia y simulaciones</td></tr>
                                <tr><td>Planta de Tratamiento de Aguas Residuales,  Agua Prieta – Jalisco</td>	<td>Modelo base estructural</td></tr>
                                <tr><td>Vertedor P.H la Yesca</td>	<td>Modelo base estructural</td></tr>
                                <tr><td>Puente las Águilas</td>	<td>Modelo base estructural</td></tr>
                                <tr><td>Caseta Ecatepex y Tejocoac</td>	<td>Modelo base estructural, instalaciones, simulaciones y AsBuilt LOD 500</td></tr>
                                <tr><td>Túnel de Viento LEMART</td>	<td>Modelo base estructural e instalaciones</td></tr>
                            </table>
                        </div>
                    </div>
                    <br />

                    <div>
                        <h5><b>Modelador BIM</b> <b class="@dateClass">2010-2011</b></h5>

                        <div class="tableCont">
                            <table class="table table-bordered table-sm">
                                <tr> <td>Hospital General Zacatecas (120 camas)</td>	<td>Modelo base estructural</td></tr>
                                <tr><td>Marina Nacional</td>	<td>Modelo base arquitectónico e instalaciones</td></tr>
                                <tr><td>Conjunto Turístico Chemuyil en Cancún</td>	<td>Modelo base arquitectónico e instalaciones</td></tr>
                                <tr><td>INCAN 1era fase</td>	<td>Modelo base de instalaciones</td></tr>
                                <tr><td>Centro Convenciones los cabos</td>	<td>Modelo base de instalaciones y estructural</td></tr>
                                <tr>
                                    <td>Metro L12</td>
                                    <td>
                                        <ul>
                                            <li>Modelo de interferencia entre la línea 7 y 12</li>
                                            <li>Estación de Culhuacan y Zapotitlan</li>
                                            <li>PRET-Modelo Geométrico de Acero de Refuerzo en elementos prefabricados</li>
                                            <li>Molde para trabes W</li>
                                            <li>Estación Mixcoac</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>

    </div>
    <br />

    <div>
        <h3>Freelance (2008-2009)</h3>
        <p>Trabajos independientes como proyectos, planos y perspectivas con diversos clientes.</p>
    </div>
    <br />

    <div>
        <h3>Aurobo Construcciones S.A. de C.V. (2004-2007)</h3>
        <h5>Cargo: <b>PROYECTISTA.</b></h5>
        <p>
            <b>Experiencia:</b> Realice diversos proyectos, desde el anteproyecto hasta el proyecto ejecutivo, llevando en varias ocasiones los trámites de licencias, así como supervisión en obra, haciendo levantamientos, planos y perspectivas tridimensionales, cuantificaciones de materiales, etc.
        </p>

        <div class="card border-secondary">
            <p class="card-header">
                <a class="" data-toggle="collapse" href="#p01" role="button" aria-expanded="false" aria-controls="p01">
                    Resumen de Proyectos
                </a>
            </p>

            <div class="collapse" id="p01">
                <div class="card card-body">
                    <div>
                        <h5><b>Experiencia en Obra</b> <b class="@dateClass">2005-2006</b></h5>
                        <ul>
                            <li>Condominio Residencial Bosques Izcalli – 9 meses</li>
                            <li> Remodelación del centro Comercial Serviexpress Castorena – 6 meses</li>
                        </ul>
                    </div>
                    <br />


                    <div>
                        <h5><b>Proyectista Arquitectónico</b> <b class="@dateClass">2004-2010</b></h5>
                        <div>
                            <ul>
                                <li>Casa Bosques de Bohemia</li>
                                <li>Case Habitación en Tepeji del Rio</li>
                                <li>Casas Campestres en Silao Guanajuato</li>
                                <li>Proyecto Bazar Ecatepec</li>
                                <li>Conjunto Habitacional Santa Fe II en León Guanajuato</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>

    </div>
    <br />

    <div>
        <h3>Grupo IPISA de México S.A. de C.V. (2003 - 2004)</h3>
        <h5> Cargo: <b>DIBUJANTE</b></h5>
        <p><b>Experiencia:</b> Planos de instalaciones industriales y residenciales.</p>
    </div>
    <br />

</main>

    @code {
        string dateClass = "text-secondary font-weight-light";
    }
