@page "/projectsummary"
    
<style>
    .tableCont {
        margin-left:5px;
        width:90%;
    }
    h1{
        align-content:center;
    }
</style>
<main class="container">
    <h1>Resumen de Proyectos</h1>
    <br />

    <div>
        <h5><b>Implementador BIM en Estructuras de Puentes</b> <b class="@dateClass">2016- Abril 2018</b></h5>
        <div class="tableCont">
            <table class="table table-bordered">
                <tr>
                    <td>
                        Texcoco 5 puentes estructuras base Pilas de concreto, trabes tipo AASHTO, Cajón y Tabletas)
                        Guatemala 1 puente estructura doble voladizo a base de Dovelas
                    </td>
                    <td>
                        <div>
                            <ul>
                                <li>Modelos LOD 450</li>
                                <li>Documentación</li>
                                <li>Apps para Revit colocación geométrica y de acero de refuerzo</li>
                                <li>Reportes de cuantificaciones utilizando Autodesk Forge con servidor ASPNET Core</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div>
        <h5><b>Coordinador BIM </b> <b class="@dateClass">2015-2016</b></h5>
        <div class="tableCont">
            <table class="table table-bordered">
                <tr><td>INCAN (Instituto nacional de cancerología)</td>	<td>Cierre de proyecto</td></tr>
                <tr><td>PTAR Atotonilco</td> 	<td>Cierre de proyecto</td></tr>
                <tr><td>Aeropuerto Acapulco</td>	<td>Modelo base estructural</td></tr>
                <tr><td>Tribunal de Tlaxcala</td>	<td>Modelo base Estructural</td></tr>
                <tr><td>Habilitado acero ICA Fluor</td>	<td>Modelo LOD 450 para diversas obras de ICA FLUOR</td></tr>
                <tr><td>TECII</td>	<td>Modelo LOD 500 AsBuilt instalaciones, arquitectura y estructura</td></tr>
                <tr><td>Marina Nacional</td>	<td>Modelo LOD 500 AsBuilt instalaciones, arquitectura y estructura</td></tr>
                <tr><td>CTAP (Centro de Investigación de Aguas Profundas)</td> 	<td>Modelo base instalaciones, arquitectura y estructura</td></tr>
                <tr><td>Hospital ISSSTE Tuxtla Gutiérrez</td>	<td>Modelo LOD 500 AsBuilt de instalaciones</td></tr>
                <tr><td>Conjunto Habitacional Reserva Escondida</td>	<td>Modelo LOD 500 AsBuilt de arquitectura y estructura</td></tr>
                <tr><td>Hospital IMSS León</td><td>	Modelo LOD 500 AsBuilt instalaciones, arquitectura y estructura</td></tr>
                <tr><td>Torre Mitika</td>	<td>Modelo base estructural</td></tr>
                <tr><td>Estacionamiento Nemesio Diez</td>	<td>Modelo base instalaciones, arquitectura y estructura</td></tr>
                <tr><td>Estadio Nemesio Diez</td>	<td>Modelo base estructural</td></tr>
            </table>
        </div>
    </div>
    <br />

    <div>
        <h5><b>Investigación-Desarrollo BIM</b> <b class="@dateClass">2013-2014</b></h5>

        <p>Tengo 5 años de experiencia programando para Revit he utilizado una gran variedad de Apis en más de 100 apps exclusivamente para Revit. He desarrollado también para otras plataformas de Autodesk como Navisworks, AutoCAD y 3ds Max en este último tengo más de un año de experiencia utilizando MaxScript. Tuve la oportunidad en mi último año como Coordinador del área de desarrollar e implementar una aplicación de Gestión y Control de proyectos de ICA BIM utilizando SQL Server y Office</p>
    </div>
    <br />

    <div>
        <h5><b>Líder de proyecto BIM</b> <b class="@dateClass">2011-2013</b></h5>
        <div class="tableCont">
            <table class="table table-bordered table-sm">
                <tr><td>Puente Magnocentro en Huixquilucan</td>	<td>Modelo base estructural</td></tr>
                <tr><td>Lumbrera 10 para el Túnel Emisor Oriente</td>	<td>Modelo base estructural</td></tr>
                <tr><td>Autopista Elevada Sur (Arco Sur)</td>	<td>Modelo base estructural</td></tr>
                <tr><td>Autopista Rio de los Remedios</td>	<td>Modelo base estructural utilizando Inventor</td></tr>
                <tr><td>Torre Reforma 483</td>	<td>Modelo base estructural para licitación</td></tr>
                <tr><td>Presa Hidroeléctrica Ituango.</td> <td>Colombia	Modelo conceptual, interferencia y simulaciones</td></tr>
                <tr><td>Planta de Tratamiento de Aguas Residuales,  Agua Prieta – Jalisco</td>	<td>Modelo base estructural</td></tr>
                <tr><td>Vertedor P.H la Yesca</td>	<td>Modelo base estructural</td></tr>
                <tr><td>Puente las Águilas</td>	<td>Modelo base estructural</td></tr>
                <tr><td>Caseta Ecatepex y Tejocoac</td>	<td>Modelo base estructural, instalaciones, simulaciones y AsBuilt LOD 500</td></tr>
                <tr><td>Túnel de Viento LEMART</td>	<td>Modelo base estructural e instalaciones</td></tr>
            </table>
        </div>
    </div>
    <br />

    <div>
        <h5><b>Modelador BIM</b> <b class="@dateClass">2010-2011</b></h5>

        <div class="tableCont">
            <table class="table table-bordered table-sm">
                <tr> <td>Hospital General Zacatecas (120 camas)</td>	<td>Modelo base estructural</td></tr>
                <tr><td>Marina Nacional</td>	<td>Modelo base arquitectónico e instalaciones</td></tr>
                <tr><td>Conjunto Turístico Chemuyil en Cancún</td>	<td>Modelo base arquitectónico e instalaciones</td></tr>
                <tr><td>INCAN 1era fase</td>	<td>Modelo base de instalaciones</td></tr>
                <tr><td>Centro Convenciones los cabos</td>	<td>Modelo base de instalaciones y estructural</td></tr>
                <tr>
                    <td>Metro L12</td>
                    <td>
                        <ul>
                            <li>Modelo de interferencia entre la línea 7 y 12</li>
                            <li>Estación de Culhuacan y Zapotitlan</li>
                            <li>PRET-Modelo Geométrico de Acero de Refuerzo en elementos prefabricados</li>
                            <li>Molde para trabes W</li>
                            <li>Estación Mixcoac</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />


    <div>
        <h5><b>Experiencia en Obra</b> <b class="@dateClass">2005-2006</b></h5>
        <ul>
            <li>Condominio Residencial Bosques Izcalli – 9 meses</li>
            <li> Remodelación del centro Comercial Serviexpress Castorena – 6 meses</li>
        </ul>
    </div>
    <br />


    <div>
        <h5><b>Proyectista Arquitectónico</b> <b class="@dateClass">2004-2010</b></h5>
        <div>
            <ul>
                <li>Casa Bosques de Bohemia</li>
                <li>Case Habitación en Tepeji del Rio</li>
                <li>Casas Campestres en Silao Guanajuato</li>
                <li>Proyecto Bazar Ecatepec</li>
                <li>Conjunto Habitacional Santa Fe II en León Guanajuato</li>
            </ul>
        </div>
    </div>
    <br />

</main>


@code {
    string dateClass = "text-secondary font-weight-light";
}
